.controller{
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(128, 128, 128);
    font-size: xx-large;
}
 .controllerPage img {
    width: 90vw;
    max-width: 50vh;
    border-radius: 2vw;

}
 .controllerPage h1 {
    text-align: center
}

.controllerPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

 .controllerPage .switchBox {
    width: 200px;
    margin: 5px 20px;

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

 .controllerPage .valueList {
    float: left;
    width: 200px;
    margin: 5px 20px;
}

 .controllerPage .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

 .controllerPage .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

 .controllerPage .slider {
    border-radius: 17px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

 .controllerPage .slider:before {
    border-radius: 17px;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
}

 .controllerPage input:checked+.slider {
    background-color: #4CAF50;
}

 .controllerPage input:checked+.slider:before {
    transform: translateX(26px);
}